<% include ./partials/header %> 

<div class="container">
    <div class="row">
        <div style="width: 40%; margin: 25px auto;">
            <h1>Login</h1>
            <form id="form" name="form" action="/login" method="POST">
                <div class="form-group">
                    <input type="text" name="username" id="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="parola">
                </div>
                <div class="form-group">
                    <input type="submit" id="submit" value="Login!">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    
    $(document).ready(function(){
        var $submitBtn = $("#form input[type='submit']");
        var $username = $("#username");
        var $passwordBox = $("#password");
        var $errorMsg =  $('<span id="error_msg" style="color: red;"> Parola nu e completata!</span>');
        var $errorUsr =  $('<span id="error_usr" style="color: red;"> Nu ati introdus un username!</span>');
        
        // This is incase the user hits refresh - some browsers will maintain the disabled state of the button.
        $submitBtn.attr("disabled", "disabled");

        function checkFieldsFilled(){
            if($username.val().trim() == ""){
                $errorUsr.insertAfter($username);
            } else {
                var $errorCont = $("#error_usr");
                if($errorCont.length > 0){
                    $errorCont.remove();
                }
            }
            if($passwordBox.val().trim() == ""){
                $errorMsg.insertAfter($passwordBox);
            } else {
                var $errorCont = $("#error_msg");
                if($errorCont.length > 0){
                    $errorCont.remove();
                }
            }
            if($username.val().trim() == "" || $passwordBox.val().trim() == ""){
                $submitBtn.attr("disabled", "disabled");
            } else {
                $submitBtn.removeAttr("disabled");
            }
        }

        $("#password")
            .on("blur", function(){      // check when the element looses focus (clicks somewhere else)                  
                if($passwordBox.val().trim() == ""){
                    $errorMsg.insertAfter($passwordBox);
                } else {
                    var $errorCont = $("#error_msg");
                    if($errorCont.length > 0){
                        $errorCont.remove();
                    }
                }
                if($username.val().trim() == "" || $passwordBox.val().trim() == ""){
                    $submitBtn.attr("disabled", "disabled");
                } else {
                    $submitBtn.removeAttr("disabled");
                }
            })
        
        $("#username")
            .on("blur", function(){      // check when the element looses focus (clicks somewhere else)
                if($username.val().trim() == ""){
                    $errorUsr.insertAfter($username);
                } else {
                    var $errorCont = $("#error_usr");
                    if($errorCont.length > 0){
                        $errorCont.remove();
                    }
                }
                if($username.val().trim() == "" || $passwordBox.val().trim() == ""){
                    $submitBtn.attr("disabled", "disabled");
                } else {
                    $submitBtn.removeAttr("disabled");
                }
            })
            
        $("#submit")
            .on("mouseover", function(){
                checkFieldsFilled();
            })

    });
    
</script>

<% include ./partials/footer %> 
